NEXT_PUBLIC_SUPABASE_URL=https://ockqvhywxlupnrspaeou.supabase.co/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9ja3F2aHl3eGx1cG5yc3BhZW91Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1NTM2NTMsImV4cCI6MjA4OTEyOTY1M30.an62PhGjnPggnvm5yLmoASkFqCFCQp2mmzKCxdqVfVo
NEXT_PUBLIC_CRM_API_BASE_URL=https://4ecrm.com
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyBkOJ9FdZGPwjeOrbYEB-mO-xMxW-fLqSE
NEXT_PUBLIC_EXTERNAL_INSTALL_MAP_URL=
NEXT_PUBLIC_CRM_FETCH_TIMEOUT_MS=12000
CRM_PROXY_TIMEOUT_MS=15000
NEXT_PUBLIC_SHOW_DEBUG_BANNER=false
