NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_CRM_API_BASE_URL=
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
NEXT_PUBLIC_EXTERNAL_INSTALL_MAP_URL=
NEXT_PUBLIC_CRM_FETCH_TIMEOUT_MS=12000
CRM_PROXY_TIMEOUT_MS=15000
NEXT_PUBLIC_SHOW_DEBUG_BANNER=false
